  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>Greetings</h1>
      <h2> Under Construction</h2>

        <hr />
        这是一个私人博客。 在这儿，我会上传一些有关于<a href="https://zh.wikipedia.org/wiki/%E6%9C%BA%E5%99%A8%E5%AD%A6%E4%B9%A0">机器学习（Machine Learning） </a>，
          <a href="https://zh.wikipedia.org/zh-hans/%E6%B7%B1%E5%BA%A6%E5%AD%A6%E4%B9%A0">深度学习（Deep Learning）</a>，<a href ="https://zh.wikipedia.org/wiki/%E8%AE%A1%E7%AE%97%E6%9C%BA%E8%A7%86%E8%A7%89"> 计算机视觉（Computer Vision）</a> 的文章。<br><br> 此外，我还有一个 <a href="https://www.zhihu.com/people/ohm-fyi/activities"> 知乎账号</a>。  关注一下吃不了亏，上不了当。 <br><br>  第一次在github上写博客，慢慢学习把。

<br>
<div align = 'center'>
<iframe width=100%  src="https://www.youtube.com/embed/pm4Fn_jYMGI" frameborder=0 allowfullscreen></iframe>
</div>

    </div>
  </div>
  <div class ="container">
